@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color: lightskyblue;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;*/
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

table, th, td {
  /*border: 1px solid black;*/

  /*This will make the borders collapse into a single border:*/
  /*border-collapse: collapse;*/

  /*border-radius: 10px;*/

  /*dotted, dashed, solid, double, groove, ridge, inset, outset, none, hidden*/
  /*border-style: dotted;*/

  /*border-color: #000;*/
}
/*Horizontal Dividers*/
tr {
    /*background-color: white;*/
    border-bottom: 1px solid black;
}
tr:hover {
    background-color: #D6EEEE;
}
/*Zebra Stripes*/
/*tr:nth-child(even) {
  background-color: #D6EEEE;
}*/
/*Vertical Zebra Stripes*/
/*td:nth-child(even), th:nth-child(even) {
  background-color: #D6EEEE;
}*/

ul {
    /*disc    Sets the list item marker to a bullet (default)
    circle  Sets the list item marker to a circle
    square  Sets the list item marker to a square
    none    The list items will not be marked*/
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: white;
}

.custom-button{
    background-color: rgb(5, 172, 22);
    text-decoration: none;
    text-decoration-color: white;
    padding: 1rem;
}
.custom-button:hover{
    background-color: rgb(5, 122, 22);
}